extends views/templates/layout_amp
block content
	.container.p-0
		//- bingo site
		//+header(4)
		//- RELATED
		+related(4, "New Slot Sites")
	.container.p-0.bg-p
		.wysiwyg.p-3.py-5.mx-auto
			h1 New Slot Sites 2017
			hr.title-underline
			ol
				li
					a(href='#WHO') Who is behind all these new slot sites?
				li
					a(href='#WHY') Why play at a new slot site?
				li
					a(href='#FUTURE') New slot sites – a look into the future
			h3
				a(name='WHO')
				| Who is behind all these new slot sites?
			p
				| Several new slot sites and casinos launch in the UK every single month and these can be:
			ul
				li
					strong Completely new operators
					|  – these will usually go for a “skin” site where the casino software, management and licensing is supplied by  a white label provider such as Nektan or Progress Play.
				li
					strong Operators who already run other types of gambling sites
					|  (such as bingo or sports) and want to expand into the slots / casino business (which can be easier to run as there’s no need for chat hosts, for instance).  Such an operator will already have experience of looking after VIPs etc.
				li
					strong Existing slots/casino operators
					|  launching additional sites. These operators already know how to make things run smoothly and if they have lots of skins they will probably also have lots of staff to look after players.
				li
					strong Overseas slots/casino operators
					|  expanding into the UK market after obtaining a UK GC licence. Again, these operators already have lots of experience of running slots/casino sites – and as they must recently have passed the rigorous vetting procedures for a UK licence, players can feel confident that all is as it should be.
			h3
				a(name='WHY')
				| Why play at a new slot site?
			p
				| Many players move on to new sites because they want to claim a fresh welcome bonus offer but there are other reasons why you might want to try out somewhere new.
			p
				strong Ongoing/regular bonus & free spins offers
				|  – it’s not all about the welcome bonus. Regular/ongoing bonus and free spins offers give players the opportunity to try out different slots.
			p
				strong Wagering requirements, caps on winnings etc
				|  – Players may seek to move on if they consider wagering requirements to be too onerous or if there are too many restrictions on what can be won from bonus play
			p
				strong Exclusive & network promotions
				|  – Promotions such as tournaments, raffles and sharepots make play more interesting and a new site that offers these may be very attractive to players (especially if they are not available anywhere else)
			p
				strong Playability on different devices
				|  – A player with a new phone or tablet may be looking for a site that works better on the latest devices.
			p
				strong Selection of slots
				|   – Players may move on in search of a particular slot they want to play.  Perhaps the site they currently play at doesn’t offer any slots from that provider, or they may be slow to add new releases.
			p
				strong Availability of progressive jackpots
				|  – Not all slot/casino sites offer these.  For example, it is quite common for IGT slots to be on offer but without the Megajackpots collection.  Other sought after progressive jackpots include the Jackpot King games, Playtech’s Age of the Gods, Microgaming’s Mega Moolah and Netent’s Mega Fortune games.
			h3
				a(name='FUTURE')
				| New slot sites – a look into the future
			p
				| 2017 is certainly an interesting time for slots operators due to recent action by the UK Gambling Commission over concerns that some slot games appeal particularly to children – for example, those with a fairytale, cartoon or superhero theme.  Although not all operators have yet reacted to this it seems very likely that in the future, images promoting such slots will all have to be age gated – so only visible to players who have already signed up and undergone age verification.
			p
				| This is bound to result in changes to player promotions such as free spins offers and slots with a more adult theme may increase in popularity after featuring in promotions more.

	.container.p-0.bg-s
		.wysiwyg.p-3.py-5.mx-auto
			h1 Articles related
			hr.title-underline
			ul.list-unstyled.my-4.relatedArticle
				li
					a.d-flex.justify-content-between(href='https://www.bestnewbingosites.co.uk/news/cartoon-characters/')
						p: strong Where Did All The Cartoon Characters Go?
						span.text-right.date 30th November 2017
				li
					hr
					a.d-flex.justify-content-between(href='https://www.bestnewbingosites.co.uk/news/win-car-day-sun-bingo/')
						p: strong Win A Car A Day At Sun Bingo
						span.text-right.date 20th November 2017
				li
					hr
					a.d-flex.justify-content-between(href='https://www.bestnewbingosites.co.uk/news/white-rabbit-slot-next-big-thing/')
						p: strong White Rabbit – The Next Big Thing In Slot Games?
						span.text-right.date 15th November 2017
				li
					hr
					a.d-flex.justify-content-between(href='https://www.bestnewbingosites.co.uk/news/mysterious-licensing-change-cozy-bingo-sites/')
						p: strong Mysterious Licensing Change at Cozy Bingo Sites
						span.text-right.date 7th November 2017
				li
					hr
					a.d-flex.justify-content-between(href='https://www.bestnewbingosites.co.uk/news/sun-bingo-new-player-cinema-ticket-giveaway/')
						p: strong Sun Bingo New Player Cinema Ticket Giveaway
						span.text-right.date 23rd October 2017

